body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
   
}
header {
    display: block;
    justify-content: center;
}
h1 {
    display: flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: center;
    font-family: Arial;
}
section {
    display: flex;
    justify-content: center;
}
img {
    display: flex;
    object-fit: cover;
    border: 5px 5px solid #ff00;
}
nav {
   display: flex;
   justify-content: center;
   height: 130px;
}
ul {
    display: block;
    justify-content: center;
    background-color: black;
    color:#ffff;
}
li {
    justify-content: center;
    margin-top: 5px;
    margin-right: 10px;
}
footer {
    flex:1;
    margin-bottom: 20px;
    padding-left:  50%;
    color:#006eff;
    text-decoration: none;
}